  <div align="center">
        
              <h1 align="center">Gestión de pedidos</h1>
            
            <hr>
          </div>
          <div>
            <h2 align="center" >Bienvenido a nuestra aplicación de gestión de pedidos</h2><br>
              <div align ="center">
            <p>Aquí podras navegar entre las distintas pestañas que tiene nuestra aplicación! como por ejemplo:</p>
              <p>Clientes: Se muestran los clientes que están registrados</p>
              <p>Pedidos: tiene todos los productos y/o servicios que se piden por parte del cliente</p>
              <p>Inventario: Incluye todo el inventario donde clientes pueden interactuar, para luego irse a pedidos y ver estos mismos.</p>
                </div>
              <div align="center">
              <a href="https://imgbb.com/"><img src="https://image.ibb.co/nLuxpb/LOGOpeque.png" alt="LOGOpeque" border="0"></a>
              </div>
              <div align="center">
                  
            <a  href="http://localhost:4200/login">¡Inicia Sesión!</a>
              </div>
          </div>
