<link href='http://fonts.googleapis.com/css?family=Raleway:500' rel='stylesheet' type='text/css'>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<body>
<div class="middlePage">
<div class="page-header">
  <h1 class="logo">Proyecto Final WEB <small>Adrian Alarcon.</small></h1>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Por favor, inicia sesión</h3>
  </div>
  <div class="panel-body">
  
  <div class="row">
  
<div class="col-md-5" >
    <br>
<button href="#" class="btn btn-block btn-social btn-facebook btn-primary"><i class="fa fa-facebook"></i> Facebook</button>
<button href="#" class="btn btn-block btn-danger"><i class="fa fa-google"></i> Google</button>
<button href="#" class="btn btn-block btn-info btn-linkedin"><i class="fa fa-linkedin"></i> Linkedin</button>

      </div><br>

    <div class="col-md-7" style="border-left:1px solid #ccc;height:160px">
<form class="form-horizontal">
<fieldset>

  <input id="textinput" name="textinput" type="text" placeholder="Usuario pls" class="form-control input-md" [(ngModel)]="user" >
  <br><br>
  <input id="textinput" name="textinput" type="text" placeholder="Contraseña" class="form-control input-md" [(ngModel)]="password">
<br>
  <button id="singlebutton" name="singlebutton" class="btn btn-info btn-sm pull-right" (click)="onLogin()">Entrar!</button>


</fieldset>
</form>
</div>
    
</div>
    
</div>
</div>

<p><a href="https://github.com/EduardoTrevizo/ProyectoWeb">Proyecto</a> · Cristian | Eduardo · </p>

</div>
</body>